html{
    scroll-behavior:smooth;
    overflow-y: hidden;
    background-color: #242424;
    color: white;
    font-family: 'VT323', monospace;
}

body,div,canvas{
    font-family: 'VT323', monospace;
    background-color: #252525;
}
main {
    margin: 4em auto;
  }
.oyun{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-flow: row nowrap;
    justify-content: center;
}

address,p,h1,h2,h3,h4,strong,span{
    color:#f2f2f2;
}

.animate__animated.animate__fadeInDown {
    animation-duration: 4s;
    animation-fill-mode: both;

}
.animate__animated.animate__fadeIn{
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-delay: 3s;
}